.points-overlay {
    color: white;
    text-align: center;
}

.points-subtitle {
  font-size: 20px;
  margin: 0;
  opacity: 0.9;
}

.points-word {
  margin: 8px 0;
  font-size: 42px;
  color: #fefefd;
}

.points-message {
  margin-bottom: 24px;
  font-size: 18px;
}

.points-list {
  width: 260px;
}

.points-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  font-size: 22px;
}

.score {
  color: #ffffff;
  font-weight: bold;
}