.round-overlay {
    color: white;
    text-align: center;

    flex-direction: column;
    gap: 10px;
}

.round-overlay h1 {
    margin: 0;
    font-size: 40px;
}

.round-overlay p {
    margin: 0;
    font-size: 22px;
}

.round-countdown {
    font-size: 48px;
    font-weight: bold;
    margin-top: 10px;
}