.chat {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 6px;

    width: 370px;
    flex: 0 0 auto;
    box-sizing: border-box;

}

.chat-message {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    gap: 2px;
    padding: 4px;
}

.chat input {
    min-height: 25px;
}