.game-status-bar{
    background-color:  #d9d9d9;
    display: grid;
    width: 100%;
    padding: 12px;
    gap: 12px;
    grid-template-columns:200px  2fr 1fr;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.game-status-bar button{
    justify-self: end;
}

.left-info{
    display: flex;
    gap: 12px;
}

.clock{

}

.round-info{
    
}

.game-status{
    justify-self: center;
}