.game-status-bar{
    height: 54px;
    background:#d9d9d9;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 14px;
    box-sizing:border-box;
}

.left-info{
    display:flex;
    align-items:center;
    gap:12px;
}

.game-logo{
    display:flex;
    gap:4px;
}

.game-status{
    font-size:18px;
}

.right-info{
    display:flex;
    align-items:center;
    gap:10px;
}

.round-timer{
    display:flex;
    align-items:center;
    gap:6px;
}

.settings-btn{
    border:none;
    background:transparent;
    padding:0;
    cursor:pointer;
}